.searchHeader{
    display: flex;
    padding-top:30px;
    padding-left:30px;
    align-items: center;
    gap:30px;
    /* justify-content: center; */
    width: 90%;
}

.logo{
    position:static;
}
.searchInput{
    height: 50px;
    width: 100%;
    border: solid grey;
    border-radius: 30px;
}