.searchPageBody{
    margin: auto;
    margin-top: 50px;
    width: 90%;
}
.searchPageHeroDiv{
    display: flex;
    gap: 20px;
}
.searchCategories{
    display: flex;
    gap: 20px;
}
.searchTitle{
    font-size: 40px;
    font-weight: 600;
}