.myNav{
    display: flex;
    margin-top:60px;
    margin-left:60px;
    align-items: center;
    gap:70px;
    min-width: 1200px;
    /* justify-content: center; */
}

nav h1{
    margin-left: 30px;
    font-weight: 500;
}